.no-decoration {
  text-decoration: none;
}

.rounded-img {
  border-radius: 50%;
  object-fit: cover;
}

/* MULTISELECT OVERRIDE */
.dropdown-content{
  z-index: 900 !important;
}

/** DATE TIME PICKER OVERRIDE */
.react-datepicker-wrapper{
  display: block !important;
}

/* ACTIVITY CARD */




