.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.aktivtet {
  color: lightcoral;
  border: 2px solid black;
  margin: 50px;
}

#loginButton {
  color: #00915D;
  background-color: #ffffff;
  border: 3px solid #00915D;
  border-radius: 5px;
  padding: 7px;
  text-align: center;
  font-weight: bold;

}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #00915D;
  margin-left: 30px;
  margin-right: 30px;
}

.burgers{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}